<alert></alert>
<router-outlet>
    <div class="row">
        <div class="login-logo">
            <b>
                Welcome to School Information Management System
            </b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h2 class="box-title">Meetings this week</h2>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Meeting Type</th>
                                        <th>Organizers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let meetingSchedule of ListOfMeetingSchedules'>
                                        <td>{{meetingSchedule.Title}}</td>
                                        <td>{{meetingSchedule.StartDate}}</td>
                                        <td>{{meetingSchedule.EndDate}}</td>
                                        <td>{{meetingSchedule.MeetingType.Name}}</td>
                                        <td>{{meetingSchedule.Organizer}}</td>
                                    </tr>
                                    <tr *ngIf="!ListOfMeetingSchedules || ListOfMeetingSchedules.length==0">
                                        <td colspan="5">
                                            No info. to display
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h2 class="box-title">Teachers in leave this week</h2>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Teacher Name</th>
                                        <th>Permission Type</th>
                                        <th>Permitted By</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let teacherAttendance of ListOfTeacherAttendances'>
                                        <td>{{teacherAttendance.Teacher.Fullname}}</td>
                                        <td>{{teacherAttendance.PermissionType.Name}}</td>
                                        <td>{{teacherAttendance.PermitedBy}}</td>
                                        <td>{{teacherAttendance.AbsencenceDuration}}</td>
                                    </tr>
                                    <tr *ngIf="!ListOfTeacherAttendances || ListOfTeacherAttendances.length==0">
                                        <td colspan="4">
                                            No info. to display
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h2 class="box-title">Sponsored students</h2>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Fullname</th>
                                        <th>Mother's Name</th>
                                        <th>Birth Date</th>
                                        <th>Admission Year</th>
                                        <th>Campus</th>
                                        <th>Grade Section</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let student of ListOfStudents'>
                                        <td>{{student.Fullname}}</td>
                                        <td>{{student.MotherName}}</td>
                                        <td>{{student.BirthDate}}</td>
                                        <td>{{student.AdmissionYear}}</td>
                                        <td>{{student.Campus.Name}}</td>
                                        <td>{{student.GradeSection.Name}}</td>
                                    </tr>
                                    <tr *ngIf="!ListOfStudents || ListOfStudents.length==0">
                                        <td colspan="6">
                                            No info. to display
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box box-default">
                <div class="box-header">
                    <h2 class="box-title">Students summary from all campus by grades</h2>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Campus</th>
                                        <th>Grade</th>
                                        <th>Number of Student</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let studentSummaryByCampusAndGrade of ListOfStudentSummaryByCampusAndGrades'>
                                        <td>{{studentSummaryByCampusAndGrade.Campus}}</td>
                                        <td>{{studentSummaryByCampusAndGrade.Grade}}</td>
                                        <td>{{studentSummaryByCampusAndGrade.NumberOfStudent}}</td>
                                    </tr>
                                    <tr *ngIf="!ListOfStudentSummaryByCampusAndGrades || ListOfStudentSummaryByCampusAndGrades.length==0">
                                        <td colspan="3">
                                            No info. to display
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</router-outlet>

