<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h2 class="box-title">Grade Section</h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Grade</label>
                            <select id="ListOfGrades" class="form-control" [(ngModel)]="SelectedGradeID" required>
                                <option *ngFor="let grade of ListOfGrades" value={{grade.ID}}>
                                    {{grade.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Room Teacher</label>
                            <select id="ListOfTeachers" class="form-control" [(ngModel)]="SelectedTeacherID" required>
                                <option *ngFor="let teacher of ListOfTeachers" value={{teacher.ID}}>
                                    {{teacher.Fullname}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" name="Name" placeholder="Name" [(ngModel)]="gradeSection.Name" />
                        </div>
                    </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="box-tools pull-right">
                            <button uib-tooltip="Save" type="button" class="col-lg-12 btn btn-primary" (click)="SaveUpdateGradeSection()" translate="Save Grade Section">
                                <i title="Save" class="glyphicon glyphicon-ok-sign" translate="Save Grade Section"> Save Grade Section </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Room Teacher</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let gradeSection of ListOfGradeSections'>
                            <td>{{gradeSection.Grade.Name}}</td>
                            <td>{{gradeSection.RoomTeacher.Fullname}}</td>
                            <td>{{gradeSection.Name}}</td>
                            <td>
                                <button uib-tooltip="Save" (click)="LoadSingleGradeSection(gradeSection)" type="button" style="width:90%" class="btn btn-primary btn-xs">
                                    <i title="Edit" class="glyphicon glyphicon-pencil"></i>
                                </button>
                            </td>
                            <td>
                                <button uib-tooltip="Remove" (click)="DeleteGradeSection(gradeSection)" type="button" style="width:90%" class="btn btn-primary btn-xs">
                                    <i title="Remove" class="glyphicon glyphicon-remove"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!ListOfGradeSections || ListOfGradeSections.length==0">
                            <td colspan="5">
                                No info. to display
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

